.contactItem {
  margin-bottom: 10px;
}

.deleteBtn {
  width: 50px;
  height: 15;
  padding: 4px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: royalblue;
  color: white;
}
